<h2>Bug Reports</h2>
<h3><%= link_to 'All Projects Bug Completion on Specified Time', bug_completion_index_path %></h3>
<h3><%= link_to 'All Projects Bug Completion on Specified Time (with Bug Types Specified)', bug_types_path %></h3>
<h3><%= link_to 'Bug Completion by Dates in Specified Project', bug_projects_path %></h3>
<h2>Ticket Reports</h2>
<h3><%= link_to 'Project Completion on Specified Date', projects_on_dates_path %></h3>
<h3><%= link_to 'User\'s Project Completion on Specified Date', user_projects_on_dates_path %></h3>
<h3><%= link_to 'Completion in Time for Specified Project', completion_by_projects_path %></h3>
<h3><%= link_to 'Completion in Time for Specified Project and User', completion_by_project_users_path %></h3>
<h2>Project Reports</h2>
<h3><%= link_to 'Visits on Project Page for Specified Project', visits_by_projects_path %></h3>
<h3><%= link_to 'Visits on Project Page for Specified Date', visits_by_date_index_path %></h3>
